<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<p>
   I am currently finishing up my PM Traineeship at PAV. The goal of this application is to apply recently gained knowledge on MVC based web development. The application is created with the help of <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://www.railstutorial.org/"> Michael Hartl's Tutorial</a>. 
</p>